#s-btn-cadastro {
  width: 100%;
  border-radius: 10px;
}

input,
select {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.25rem;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .card-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
} 
