.logo{
    height: 60px;
    width: 60px;
    cursor: pointer;
}  

.navbar a{
    color: white;
}

.active {
    font-weight: 600;
}

.navbar ul{
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 20px;
    gap: 10px;
}